<!doctype html>
<html data-ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
	
  <body>
    <h2>To-do List with AngularJS</h2>
    <div data-ng-controller="TodoCtrl">
		
			<!-- Function returningsome valaue used in data bindng -->
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      
			<ul class="unstyled">
        <li data-ng-repeat="todo in todos">
          <input type="checkbox" data-ng-model="todo.done">
					
					<!-- Dynamic class Naming based on t/f value for conditional css -->
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      
			<!-- data-ng-submit for foorm submission else could have used ng-click for without form -->
			<form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>